
/* Définition de la taille A4 et des marges */
@page {
    size: A4;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

/* Style général pour la page */
body {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
    width: 21cm; /* Largeur d'une feuille A4 */
    height: 29.7cm; /* Hauteur d'une feuille A4 */
    font-family: Arial, sans-serif;
    line-height: 1.0;
    background-color: red;
    margin: auto;
}

footer, header {
    display: none;
}

table {
    border-collapse: collapse;
}
td, th {
    border: solid 1px black;
}
/**
Set overflow: auto 
to include possible margin of children in the height of the div.
*/
div {
    overflow: auto;
}
section {
    overflow: auto;
}

article {
    position: relative;
    z-index: 100;
    width: calc(100%-2cm);
    padding-left: 1cm;
    padding-right: 1cm;
}

summary {
    width: 100%;
}

.toc_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**
Table of content item.
*/
.toc_item_points {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: linear-gradient(to right, transparent 0%, black 50%, transparent 100%);
    background-size: 10px 1px;
    margin: 0 10px;
}

#pagesWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#pagesWrapper .page {
    position: relative;
    margin: auto;
    border: solid 1px black;
    box-sizing: border-box;
    width: 21cm; /* Largeur d'une feuille A4 */
    height: 29.7cm; /* Hauteur d'une feuille A4 */
}

/* Style pour l'en-tête */
#pagesWrapper .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* Style pour le pied de page */
#pagesWrapper .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#pagesWrapper .centerPart {
    margin: auto;
    width: 50px;
    text-align: center;
}
#pagesWrapper .page.even .footer .pageNumberPart {
    float: left;
}
#pagesWrapper .page.odd .footer .pageNumberPart {
    float: right;
}

.debug .break_page {
    border: solid 1px grey;
    box-sizing: border-box;
}